@charset "utf-8";
@import "../../components";

.heritage-search-bar {
  background-image: url("https://user-images.githubusercontent.com/60081201/95285488-e7645f00-089b-11eb-8dec-669532916ec3.png");
  background-attachment: fixed;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  border: 0;
  padding: $components-margin;
  .v-input {
    font-size: 1.6rem;
    margin: 5vh auto 3vh;
    width: 80vw;
  }
}
