@charset "utf-8";
@import "../../components";

.heritageCardDetail {
  background-image: url("https://user-images.githubusercontent.com/60081201/93566499-1e93ce80-f9c8-11ea-870d-baf6b360489f.PNG");
  background-attachment: fixed;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
