@charset "utf-8";
@import "../../components";

.heritage-cards {
  margin: 5vh 5vw;
  .v-text-field {
    width: 150px;
  }
}

.v-card-container:hover {
  cursor: pointer;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.home-recommend-text {
  margin-top: 100px;
}
