@import "../components";

.signup {
  height: 100%;
  background-image: url("https://user-images.githubusercontent.com/60081201/94753625-bed6f380-03c9-11eb-933b-41e803eb9c24.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  margin: 4vh auto;
  padding: 0;
  background-color: bisque;
  width: 45vw;
  text-align: center;
  border-radius: 3vw;
  position: relative;

  h1 {
    margin: 2vh auto;
  }

  button {
    margin: 2vh auto;
    padding: 0.2vh 0.5vw;
    background-color: grey;
    color: white;
    border-radius: 10px;
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }

  input[type="text"],
  input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 0.6vh auto;
    padding: 1vh 1vw;
    text-align: center;
    border: 3px solid sandybrown;
    width: 40vw;
    outline: none;
    border-radius: 10vw;
    transition: 0.3s;
    font-size: 1rem;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    width: 43vw;
  }

  input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 5vh auto;
    text-align: center;
    border: 3px solid #9d201d;
    padding: 2vh 3vw;
    width: 30vw;
    outline: none;
    border-radius: 10vw;
    transition: 0.3s;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background: #9a3324;
  }
}
