@charset 'utf-8';
@import "./components";

@font-face {
  font-family: "EBSHunminjeongeumSBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunGothic", sans-serif;
  word-break: keep-all;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $main-font;
  }
}

// navbar SCSS
#nav {
  background-image: url("https://user-images.githubusercontent.com/60081201/93159089-6d333580-f748-11ea-8ab2-7d14eb4737ec.png");
  background-size: contain;
  background-repeat: repeat;
  height: 15vh;
  width: 100vw;

  .nav-logo {
    height: 12vh;

    a {
      img {
        margin: auto 1vw;
        width: 300px;
      }
    }
  }

  .nav-lists {
    height: 15vh;
    margin-right: 2vw;

    a {
      height: 100%;
      width: 40px;
      margin: 0 0.5vw;
      padding: 0 auto;

      font-size: 1.4rem;
      font-weight: bold;
      color: #4e2a2a;
      text-decoration: none;

      writing-mode: tb;
      font-family: $main-font;

      // actions for nav-lists
      &.header {
        background-size: cover;
        background-position: center;
        background-image: url("https://user-images.githubusercontent.com/60081201/93159710-c780c600-f749-11ea-9ce3-426c9101f633.png");
      }
      &.header-user {
        background-size: cover;
        background-position: center;
        background-image: url("https://user-images.githubusercontent.com/60081201/93162618-16c9f500-f750-11ea-9ddc-8c03d06098ae.png");
      }
      &.header.router-link-exact-active {
        transition: 0.5s;
        color: white;
        background-size: cover;
        background-position: center;
        background-image: url("https://user-images.githubusercontent.com/60081201/93162365-9c00da00-f74f-11ea-9b7c-e3e2298c002d.png");
      }

      // for the text in nav-lists
      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
      }
    }
  }
}
